<section class="guitarras">
    @for (instrumento of aGuitarras; track instrumento.id) {
        <div class="container-instrumento">
            <div class="container-imagen">
                <img src="img/{{instrumento.urlImage}}">
            </div>
            <div class="datos-instrumentos">
                <div class="descripcion">
                    <div class="spans-container">
                        <span class="fabricante">{{instrumento.fabricante}} </span><span class="modelo">{{instrumento.modelo}}</span>
                    </div>
                    <div class="contenedor-likes">
                        <span class="numero-likes">{{instrumento.likes}}</span>
                    </div>

                        <ul class="caracteristicas-principales">
                            @for (descripcion of instrumento.descripcion; track $index){
                                <li>{{descripcion}}</li>
                            } 
                        </ul>
 
                </div>
                <div class="stock">
                    <h1>Stock {{instrumento.stock}} unidades</h1>
                </div>
                
            </div>
            <div class="datos-precio-iconos">
                <h1>{{instrumento.precio}} €</h1>
                <div class="iconos">
                    <i class="fa-regular fa-paste"></i>
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
    </div>
    }
</section>
